.glint-shipping-settings h1{
    margin: auto auto 20px;
    font-weight: 500;
}

.wp-core-ui .glint-shipping-settings select{
    min-width: 180px;
}

.glint-shipping-settings .method-row {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px 30px 10px;
    margin-bottom: 15px;
    position: relative;
}

.glint-shipping-settings .method-row .postcode-section,
.glint-shipping-settings .method-row .method-section,
.glint-shipping-settings .method-row .settings-section {
    margin-bottom: 15px;
}

.settings-section .row{
    width: 100%;
    margin: 0 auto 15px;
}

.settings-section .row .method-option{
    display: inline-block;
    margin-right: 15px;
}

.glint-shipping-settings .method-row textarea {
    width: 100%;
}

.glint-shipping-settings .method-row .remove-method {
    position: absolute;
    top: 25px;
    right: 15px;
    color: #ffffff;
    cursor: pointer;
    padding: 6px 20px 8px;
    background: #c92e00;
    border: 1px solid #880000;
}

.glint-shipping-settings .settings-section input[type="text"],
.glint-shipping-settings .settings-section input[type="password"] {
    max-width: 400px;
}

.CodeMirror {
    border: 1px solid #ddd;
    height: auto;
    min-height: 150px;
}

.glint-shipping-settings .method-row .name-section {
    margin-bottom: 15px;
}

.glint-shipping-settings .method-row .name-section input {
    width: 100%;
    max-width: 400px;
}

.name-section h2{
    display: inline-block;
    margin: 12px 5px 12px 0;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
}

#glint-shipping-form .enable-section{
    background: #0092d9;
    padding: 30px 30px 25px;
    border: 1px solid #ddd;
}

#glint-shipping-form .enable-section label{
    color: #fff;
    font-size: 1.25rem;
}

#glint-shipping-form .enable-section input{
    height: 1.25rem;
    width: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

#glint-shipping-form .enable-section input::before{
    height: 1.25em;
    width: 1.25em;
}

#glint-shipping-form .enable-section .description{
    margin-top: 5px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 0.5px;
}