.glint-shipping-settings h1{
    margin: auto auto 20px;
    font-weight: 500;
}

.glint-shipping-settings .method-row {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px 15px 0;
    margin-bottom: 15px;
    position: relative;
}

.glint-shipping-settings .method-row .postcode-section,
.glint-shipping-settings .method-row .method-section,
.glint-shipping-settings .method-row .settings-section {
    margin-bottom: 15px;
}

.glint-shipping-settings .method-row textarea {
    width: 100%;
}

.glint-shipping-settings .method-row .remove-method {
    position: absolute;
    top: 25px;
    right: 15px;
    color: #ffffff;
    cursor: pointer;
    padding: 6px 20px 8px;
    background: #c92e00;
    border: 1px solid #880000;
}

.glint-shipping-settings .settings-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.glint-shipping-settings .settings-section input[type="text"],
.glint-shipping-settings .settings-section input[type="password"] {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.CodeMirror {
    border: 1px solid #ddd;
    height: auto;
    min-height: 150px;
}

.glint-shipping-settings .method-row .name-section {
    margin-bottom: 15px;
}

.glint-shipping-settings .method-row .name-section input {
    width: 100%;
    max-width: 400px;
}

